---
import Layout from '../../layouts/Layout.astro';
import { getCollection } from 'astro:content';

const posts = await getCollection('blog');
const colors = ['bg-[#db2777]', 'bg-[#7c3aed]', 'bg-[#0ea5e9]', 'bg-[#14b8a6]', 'bg-[#f59e0b]'];
---

<Layout title="Blog Posts">
  <div class="bg-neutral-900 bg-linear-to-t from-black to-transparent">
    <div class="max-w-5xl px-4 xl:px-0 py-24 mx-auto">
      <!-- Header -->
      <div class="max-w-3xl mb-10 lg:mb-14">
        <h1 class="text-white font-semibold text-2xl md:text-4xl md:leading-tight">Latest Insights</h1>
        <p class="mt-1 text-neutral-400">Explore our latest articles on AI implementation, automation strategies, and practical use cases.</p>
      </div>

      <!-- Posts Grid -->
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
        {posts
          .sort((a, b) => Number(new Date(b.data.date)) - Number(new Date(a.data.date)))
          .map((post, index) => {
          const randomColor = colors[index % colors.length];
          return (
            <a href={`/posts/${post.slug}`} class="flex flex-col bg-neutral-800 rounded-xl overflow-hidden hover:border-[#5978ea] transition">
              {post.data.thumbnail ? (
                <img src={post.data.thumbnail} alt={post.data.title} class="w-full h-48 object-cover" loading="lazy" />
              ) : (
                <div class={`w-full h-48 flex items-center justify-center text-white text-center text-lg font-semibold ${randomColor}`}>
                  {post.data.title}
                </div>
              )}
              <div class="flex flex-col p-5 flex-grow">
                <h2 class="text-white text-lg font-semibold">{post.data.title}</h2>
                <p class="text-sm text-neutral-400 mt-2">{post.data.excerpt}</p>
                <time class="text-sm text-neutral-500 mt-4">{post.data.date}</time>
              </div>
            </a>
          );
        })}
      </div>
    </div>
  </div>
</Layout>
