---
import '../styles/global.css';
import Header from './Header.astro';

const { title, description, canonicalUrl, ogImage, favicon, fontUrl } = Astro.props;
const siteConfig = {
  title: "Agency Tailwind CSS Template | AIPEDIA.ID UI, crafted with Tailwind CSS",
  description: "Crafted for agencies and studios specializing in web design and development.",
  canonicalUrl: "https://AIPEDIA.ID.co/",
  ogImage: "https://AIPEDIA.ID.co/assets/img/og-image.png",
  favicon: "../../favicon.ico",
  fontUrl: "https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&display=swap"
};

---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <meta name="description" content={description}>
    <link rel="canonical" href={canonicalUrl}>
    <meta property="og:image" content={ogImage}>
    <link rel="icon" type="image/x-icon" href={favicon}>
    <link href={fontUrl} rel="stylesheet">
</head>
<body class="bg-neutral-900">
    <main id="content">
        <Header></Header>
        <slot />
        <script src="../scripts/preline.js"></script>
    </main>
</body>
</html>